<h1>Upload the picture to folder</h1>

<%= form_with url:create_folder_path,  local: "true" do |form| %>
    <div class="input">
      <%= form.text_field :attr, name: "folder_name", id: "folder_name", placeholder: "Folder Name" %>
    </div>
    <div class="input">
    <%= form.file_field :picture,:accept => 'jpeg/jpg/png' %>
    </div>
    <div class="button">
      <%= form.submit :submit %>
    </div>
    <h2 class="err"><%= @error %></h2>
  <% end %>


<% flash.each do |type, msg|%>
 <div class="err">
 <%= msg%>
 <div>
<%end%>
